
* {font-family: 'Montserrat', sans-serif;}
:root {
  --black: #000;
  --white: #fafafa;
  --blue: #042f38;
  --lightblue: #d7e2eb;
  --grey: #d9d9d9;
  --border: 0,5px solid #000;
}
*{
  margin: 0;
  /* box-sizing: border-box; makes box size include everything that makes element size*/
}
.fullcontent {
  & h1 {
    padding-inline: 10rem;
    margin: 1rem 0;
  }
  & #logobottomabout {
    display: block;
    max-width: 150px;
    margin-inline: auto;
    padding: 4rem 0;
  }
}
.wrapper {
  background-color: grey;
  margin-inline: auto;
  max-height: 30rem;
  /*display: flow-root;/*content cannot escape parent element*/
  & img {
    width: 100%;
    object-fit: none;
    object-position: 50%;
    max-width: 1920px;
    max-height: 30rem;
  }  
}
.abouttextbox{
  padding-inline: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: black;
  gap: 1rem;
}
@media (min-width: 900px) {
  .wrapper {padding: 0 10rem;}
}