* {font-family: 'Montserrat', sans-serif;}
:root {
  --black: #000;
  --white: #fafafa;
  --blue: #042f38;
  --lightblue: #d7e2eb;
  --grey: #d9d9d9;
  --border: 0,5px solid #000;
}
*{
  margin: 0;
}

header{
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  border: 1px dotted black;
  & img {
    max-width: 15rem;
  }
}
.dropdown {
  display: flex;
  position: relative;
  font-size: 1.5rem;
  & .fa, p {
    margin: .5rem;
    align-self: baseline;
  }
  & p {

  }
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--grey);
  z-index: 1;
  min-width: 10rem;
  padding: 1rem;
  top: 3rem;

  & a {
    color: #000;
    /* padding-inline: 4rem; */
    padding-block: 1rem;
    text-decoration: none;
    display: block;
  }
  & a:hover {
    opacity: 50%;
  }
}
.dropdown:hover .dropdown-content {/*when hovering over dropmenu & drop-content changes from dispplay none to block*/
  display: block;
  float: right;
}