* {
    margin: 0;
}
/* body {
    display: grid;
    grid-template-columns: [col1start] 5vw [col1end] 15vw [col2start] auto [col2end] 15vw [last-line] 5vw ;
    grid-template-rows: [row1start] 10vh [row1end] 5vh [row3start] auto [row3end] 5vh [rowend5] 20vh;
    background-color: #fafafa;

        @media (max-width: 770px) 
        {
            body {
                display: grid;
                grid-template-columns: [col1start] 40vw [col2start] auto [last-line] 40vw ;
                grid-template-rows: [row1start] 10vh [row1end] 5vh [row3start] auto [row3end] 5vh [rowend5] 20vh;
                }
            .site {
                grid-column: 2/5;
                grid-row: 3/4;
                background-color: #000;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-grow: 1;
                

                }
        }

} */
body {
    display: grid;
    grid-template-areas: 
    'logo middle middle.ham'
    'left main main right'
    'footer footer footer footer';
    background-color: slategray;
}

.logo { grid-area: logo
        background-coulour: #000;}
.menu {grid-area: ham
        background-coulour: #000;}
.site {grid-area: main
        background-coulour: #000;}
footer {grid-area: footer
        background-coulour: #000;}

header {
    grid-column: 1/6;
    grid-row: 1/2;
        &.classheader {
            display: grid;
            grid-template-columns: [col1start] 20vw [col1end] auto [col2start] 20vw [col2end] 10vw;
            grid-template-rows: auto;
            background-color: rgba(245, 245, 220, 0.462);
                    & .logo {
                        display: grid;
                        background-color: rgba(0, 0, 139, 0.22);
                        grid-column: 1/2;
                        grid-row: 1/1;
                    }
                    & .menu {
                        display: grid;
                        background-color: rgba(255, 192, 203, 0.598);
                        grid-column: 3/4;
                        grid-row: 1/1;
                    }
                    & .iconsnav{
                        display: grid;
                        background-color: rgba(255, 192, 203, 0.598);
                        width: 100px;
                        grid-column: 4/5;
                        grid-row: 1/1;
                    }  
            }
    
}
.site {
    /* grid-column: 3/4;
    grid-row: 3/4; */
    grid-template-columns: repeat(3, 1fr);
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    background-color: rgba(127, 255, 212, 0.94);*/
    height: auto;
    container-type: inline-size;
        & h1 {
            display: block;   
        }

    }
    /*
    @media (max-width: 910px) {
        .site {
            grid-column: 2/4;
        background-color: pink;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100vw;
            }
    }
    */


    .productcards {
    display: none;
    justify-items: center;
    justify-items: stretch;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
    grid-auto-rows: 220px auto auto auto;/*auto row will repeat, when child element has subgrid*/
    border: 10px dotted fafafa;
    container-type: inline-size;
    width: 100%;
    align-self: stretch;
    overflow: hidden;
    minmax

   
}
 .card {
    display: grid;
    grid-row: span 4;/*want the grid to span 4 to fill all 4 rows or shared grid*/
    grid-template-rows: subgrid;
    position: relative;/*for click*/
    background-color: rgb(254, 240, 255);
    border: 0.5px solid #000;
}
 .card img {
    width: 100% ;
    height: 100%;
    object-fit: contain;
    justify-self: center;
}
 .card h2 {
    background-color: rgba(218, 5, 218, 0.606);
    margin: 10px;
}
 .card p {
    background-color: rgba(218, 5, 218, 0.606);
    margin: 10px;
}
 .card a {
    background-color: rgba(218, 5, 218, 0.606);
    border: 1px solid black;
    justify-self: center;
    margin-bottom: 1rem;
}

.card a::before {
content: "";
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
}
