:root {
  --black: #000;
  --white: #fafafa;
  --blue: #042f38;
  --lightblue: #d7e2eb;
  --grey: #d9d9d9;
  --border: 0,5px solid #000;
}
* {font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
/*   background-color: var(--white);  */
& .hidoh1 {
  display: none;
}

}

header{
  margin-inline: auto;
  max-width: 1280px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  & img {
    max-width: 15rem;
    margin-left: 5rem;
  }
}

.dropdown {
  display: flex;
  position: relative;
  font-size: 1.5rem;
  & .fa, p {
    margin: .5rem;
    align-self: baseline;
  }
}

.dropdown-content { /*the dropmenu needs to overlap with icons to be able to register the hovering*/
  display: none;
  position: absolute;
  background-color: var(--white);
  z-index: 1;
  min-width: 15rem;
  padding-inline: 2rem;
  top: 2.2rem;
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;

  & a {
    color: #000;
    /* padding-inline: 4rem; */
    padding-block: 1rem;
    text-decoration: none;
    display: block;
  }
  & a:hover {
    opacity: 50%;
  }
}

.dropdown:hover .dropdown-content {/*when hovering over dropmenu & drop-content changes from dispplay none to block*/
  display: block;
  float: right;
}

.herocontainer {
    display: grid;
    max-width: 1920px;
    background-color: var(--white);
    grid-template-columns: auto;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    & .herosection {
      display: grid;
      background-color: #042f38;
      & img {
        width: 100%;
        object-fit: cover;
        height: auto;
      }
      & a{
        display: grid;
        background-color: var(--white);
        color: #000;
        width: 18em;
        height: auto;
        text-align: center;
        line-height: 10px;
        justify-self: center;
        align-self: center;
        border: 0,5px solid black; 
        padding: 1rem;
        top: 60%;
        z-index: 0;
        box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba
      }
      & a:hover {
        box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;/**/
       /*transform: translateY(-3px) scale(1.1);**/
       background-color: #000;
       color: var(--white);
     }
    }
}

.herosection {
    display: grid;
    max-width: 1920px;
    background-color: var(--white);
    grid-template-columns: auto;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    & .herosection {
      display: grid;
      background-color: #042f38;
      & img {
        width: 100%;
        object-fit: cover;
        height: auto;
      }
      & a{
        display: grid;
        background-color: var(--white);
        color: #000;
        width: 18em;
        height: auto;
        text-align: center;
        line-height: 10px;
        justify-self: center;
        align-self: center;
        border: 0,5px solid black; 
        padding: 1rem;
        position: absolute;
        top: 60%;
        z-index: 0;
        box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba
      }
      & a:hover {
        box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;/**/
       /*transform: translateY(-3px) scale(1.1);**/
       background-color: #000;
       color: var(--white);
     }
    }
}

.discoverourproduts {
  text-align: center;
  background-color: var(--white);
  font-size: 1.3rem;
  color: var(--black);
  font-style: italic;
  text-decoration: none;
  letter-spacing: 0.2em;
  margin-inline: auto;
  margin-block: 5rem;
}

.discoverourproduts:hover {
  font-weight: bolder;
  color: var(--grey);
}

.discovertext {
  display: flex;
  justify-content: center;
}

.cardsindex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-inline: 5rem;
  @media (max-width: 900px) {
    margin: 0;
    background-color: hotpink;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.bottomindexsection{
  display: grid;
  gap: 5rem;
}

.bigimgcontainerindex {
  background-color: var(--white);
  margin-top: 5rem;
  margin-inline: 5rem;
  display: inline-grid;
  position: relative;
  max-width: 1920px;
  grid-template-columns: auto auto;
  background-color: var(--white);
  gap: 3em;
  justify-items: center;
  & img {
    width: 100%;
    object-fit: cover;
  }

  & a{
    display: grid;
    background-color: var(--white);
    padding: 5px;
    justify-content: center;
  }
}

.bigimgbottomindex{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url(/assets/pairtogether.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 35rem;
  margin-inline: 5rem;
  & a:hover {
    background-color: #000;
    color: var(--white);
  }
  & .imgbutton-bottom{
    background-color: var(--white);
    color: var(--black);
    border: .5px solid var(--black);
    height: 2rem;
  }
  & a {
    display: block;
    margin-bottom: 1rem;
    padding: .7rem;

  }
}

.containerproducts {
  max-width: 1400px;
  padding-inline: 2rem;
  margin-inline: auto;
  margin-top: 2rem;
}

.cardsproducts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media (max-width: 900px) {
    margin: 0;
    background-color: hotpink;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.card {
  max-width: 480px;
  border: 1px solid black;
  position: relative;
  height: 100%;
  width: 100%;
  & img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
  }
  & h2, p {
    margin: 0 2rem;
  }
  & h2 {
    font-size: 1.5em;
  }
  & p {
    font-size: 1em;
    font-weight: bolder;
  }
  & a {
    font-size: 1em;
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    color: var(--black);
  }
  & a:hover {
     /*box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;/**/
    /* transform: translateY(-3px) scale(1.3); */
    font-weight: bolder;
    color: var(--grey);
  }
  & a::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
  }
}
.containerforproductpage{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-inline: auto;
  width: 70vw;
  gap: 2rem;


  & .productpicture{
    border: .5px solid var(--black);
    & img {
      width: 100%;
      max-width: 45rem;
    }
  }
  & .productinfo{
    border: .5px solid var(--black);
  }
  & .sizebuttonscontainer{
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    font-weight: bold;
    & button:hover{/* change this to edit all buttons */
      background-color: var(--white);
      color: var(--blue);
      padding: 1rem 1.5rem;
      font-weight: bolder;
      border: 2px solid var(--blue);      
    }

  }
  & .addtocartcontainer {
    display: flex;
    justify-content: center;
    & a {
      padding: 1.5rem 5rem;
      font-size: larger;
      border: 2px solid var(--blue);   
      background-color: #042f38;
      color: var(--white);   
    }
    & a:hover{
      padding: 1.5rem 5rem;
      font-weight: bolder;
      background-color: var(--white);
      color: var(--blue);
    }
  }
  & button ,a{
    background-color: #042f38;
    color: var(--white);
    padding: 1rem 1.5rem;
  }    & button:hover{
    padding: 1.5rem 5rem;
    font-weight: bolder;
    background-color: var(--white);
    color: var(--blue);
  }
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.fullcontentabout {
  & h1 {
    padding: 1rem;
    max-width: 45rem;
    margin-inline: auto;
  }
  & #logobottomabout {
    display: block;
    max-width: 150px;
    margin-inline: auto;
    padding: 4rem 0;
  }
  & h2, p {
    margin-block: 1rem;
  }
}

.wrapperabout {
  background-color: var(--grey);
  margin-inline: auto;
  max-height: 30rem;
  /*display: flow-root;/*content cannot escape parent element*/
  & img {
    width: 100%;
    object-fit: contain;
    max-height: 30rem;
    margin-inline: auto;
  }
  
}

.abouttextbox{
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: black;
  gap: 1rem;
  max-width: 45rem;
  margin-inline: auto;
  @media (min-width: 900px) {
    .abouttextbox {
      display: grid;
      grid-template-columns: 1fr;
    }
    p {
      padding: 0;
    }
    
  }
}

.fullcontentcontact {
  & h1 {
  display: none;
  }
  & img {
    display: block;
    margin-inline: auto;
    margin-top: 3rem;
    max-width: 20rem;
  }
}

.wrappercontact {
  background-color: var(--grey);
  margin-inline: auto;
  max-height: 30rem;
  /*display: flow-root;/*content cannot escape parent element*/
  & img {
    width: 100%;
    object-fit: contain;
    object-position: 50%;
    max-height: 30rem;
    margin-inline: auto;
  }  
  @media (min-width: 900px) {
    {padding: 0 10rem;
    background-color: pink;}
  }
}

.formsectioncontact {
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  max-width: 50rem;
  & h2, p {
    margin-block: 1rem;
  }
  & ul {
    list-style: none;
  }
  & img {
    width: 100%;
    display: grid;
    max-width: 30rem;
    margin-top: 5rem;
    margin-inline: auto;
  }
  & #submitbutton {
    margin-left: 2.5rem;
    padding: .5rem;
  }
  @media (max-width: 900px) {
    margin-inline: auto;
    background-color: hotpink;
    grid-template-columns: 1fr;
    justify-items: center;
    & img{
      display: none;
    }
  }
}

.checkoutgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: hotpink;
  margin: 5rem;
  justify-items: center;
  & .checkoutinputarea {
    border: .5 solid var(--black);
    background-color: #042f38;
    & ul {
      list-style: none;
    }
  }
  & .checkoutinformationarea{
    border: .5 solid var(--black);
    max-width: 95vw;
    & img {
      max-width: 5rem;
      width: 100%;
      object-fit: contain;
    }
    & #shoppingbag {
      display: block;
      margin-inline: auto;
    }
    & .checkoutpricegrid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      & a{
        padding: 1.5rem 5rem;
        font-size: larger;
        border: 2px solid var(--blue);      
      }
      & a:hover{
        font-weight: bolder;
        background-color: var(--white);
        color: var(--blue);
      }
    }    
  }
  @media (max-width: 900px) {
    background-color: hotpink;
    grid-template-columns: 1fr;
  }
}
footer {
  margin-top: 5rem;
}
.footercollums{
  min-height: 500px;
  margin-inline: auto;
  padding: 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #000;
  position: sticky;
  color: var(--white);

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    padding: 2rem;
  }
  & p {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-block: 1.5rem;
  }
  & ul { 
    list-style: none;
    & li {
      margin-block: 1rem;
    }
  }
}

 @media only screen and (max-width: 780px) {

  .bigimgcontainerindex {
    background-color: hotpink;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1em;
  }

/*   .discoverourproduts {    
    font-size: 1em;
    color: var(--black);
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 1em;
    letter-spacing: 0.2em;
    margin: 3rem 0;
  } */
  .dropdown:click .dropdown-content {/*find a way to solve this*/
    display: block;
    float: right;
  }
}   