body {
  background-color: #fafafa;
}
* {
  margin: 0;
}
#menu{ 
  background-color: burlywood;
  padding: 10px;
  display: flex;
  justify-content: end;
}

.fa {
  margin: 0 5px;
}


nav.hamburger {
  display: none;
  /* By default hide the navigation menu */
}

input#hamburger-menu {
  display: none; /* Hide the checkbox */
}

input#hamburger-menu:checked ~ nav.hamburger {
  display: block;
  background-color: darkgoldenrod;
  /* Display nav.hamburger block when checkbox is checked only */
}

label[for="hamburger-menu"] {
  font-size: 1em;
}
label[for="cart"] {
  font-size: 1em;
}
/* Style the menu itself */
nav.hamburger ul {
  list-style-type: none;
  display: inline-block;
  left: 10px;
  width: 350px;
  background-color: #fafafa;
  /*border: 1px solid #000;*/
}
nav.hamburger li {
  display: flex;
  margin: 20px 0px;
  /*border: 1px solid black;*/
}
/* Style the text in the menu */
nav.hamburger li a {
  text-decoration: none;
  color: #000;
  background: #fafafa;
  padding: 4px 5px;
  /*border: 1px solid black;*/
}
nav.hamburger li {
  display: flex;
  /*border: 1px solid black;*/
}
nav.hamburger li:last-child {
  margin-bottom: 0;
}
nav.hamburger li a:hover {
font-weight: bolder;
}


body a,h1 {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.heroimage {
  background-color: #63c915;
  border: 1px solid #000;
  width: 100vw;
  height: 200px;
}

footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  flex-grow: 1;
  color: #fafafa;
}

.cards {
  /*affects all cards*/
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 90vw;
  background-color: aquamarine;
  border: 1px dotted #000;
}
.card {
  /*styling for spesific card, and posision to make whole card link*/
  width: 300px;
  margin: 10px;
  position: relative;
  text-align: center;
  border: 1px solid #000;
}

.card h2,p {
  /*space above/under text*/
  padding: 0 10px;
  margin: 5px;
}
.card img {
  /*img uses whole card*/
  width: 100%;
}
.price {
  color: red;
}
.card a {
  display: block;
  border: none;
  margin-bottom: 10px;
  color: #000;
  text-align: center;
  cursor: pointer;
}

.card a:hover {
  opacity: 0.7;
}
.card a::before {
  /* make entire card link*/
  content: ""; /*content of this element is nothing */
  position: absolute; /*this beeing in an abseloute ensures no trouble here*/
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.imageandinfo {
  display: flex;
  justify-content: start;
  width: 90vw;
  border: 1px solid #000;
  background-color: aqua;
  margin: 0 5px 15px 15px;
  padding: 5px;
}
#shopcarticon{
  background-color: #63c915;
}
#mainproductphoto {
  margin: 10px;
  display: none;
}

@media (min-width: 680px) {
  .cards {
    display: inline-grid;
    grid-template-areas:
      "card1 card2 card3"
      "card4 card5 card6";
    /*background-color: violet;*/
    border: 1px dotted #000;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1px;
    border: 1px solid black;
    background-color: teal;
  }
  .card3{
    background-color: cadetblue;
    border: 1px dotted #000;
  }

  .imageandinfo {
    background-color: #63c915;
    display: grid;
    grid-template-areas: " auto auto";
    width: 500;
    margin: 0 7vw;
    grid-template-areas: "image product";
    

  } 
  .borderwindow {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    width: 500px;
    height: 600px;
    border: 1px solid #000;
    background-color: aqua;
  }
  #mainproductphoto {
    margin: 10px;
    background-color: #63c915;
  }
}
