:root {
  --black: #000;
  --white: #fafafa;
  --blue: #042f38;
  --lightblue: #d7e2eb;
  --grey: #d9d9d9;
  --border: 0,5px solid #000;
}
* {font-family: 'Montserrat', sans-serif;
  margin: 0;}

body {
    display: grid;
    height: 100vh;
    grid-auto-columns: 1fr;
    gap: 1rem;
    background-color: var(--white);
  }
  main {
    display: grid;
    justify-content: center;
    gap: 1rem;
  }
  .herocontainer {
    display: grid;
    max-width: 1920px;
    height: 100vh;
    background-color: var(--white);
    grid-template-columns: auto;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    & .herosection {
      display: grid;
      background-color: #042f38;
      & img {
        width: 100%;
        object-fit: cover;
        height: auto;
      }
      & a{
        display: grid;
        background-color: var(--white);
        color: #000;
        width: 18em;
        height: auto;
        text-align: center;
        line-height: 10px;
        justify-self: center;
        align-self: center;
        border: 0,5px solid black; 
        padding: 1rem;
        position: absolute;
        top: 80%;
        z-index: 0;
        box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba
      }
      & a:hover {
        box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;/**/
       /*transform: translateY(-3px) scale(1.1);**/
       background-color: #000;
       color: var(--white);
     }
    }
    }
 
  .discoverourproduts {
  display: block;
  text-align: center;
  font-size: 3em;
  font-style: italic;
  color: var(--grey);
  margin-bottom: 100px;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 5px;
  letter-spacing: 1px;
  text-decoration-line: underline;
}
.container {
  max-width: 100rem;
  padding-inline: 2rem;
  height: auto;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 10em;
}
.card {
  max-width: 500px;
  border: 1px solid black;
  position: relative;
  height: 100%;
  width: 100%;
  & img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
  }
  & h2 {
    font-size: 1.5em;
    padding-left: 10px;
  }
  & p {
    font-size: 1em;
    padding: 0 15px;
    font-weight: bolder;
  }
  & a {
    font-size: 1em;
    display: block;
    text-align: center;
    padding: 1em;
  }
  & a:hover {
     /*box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;/**/
    transform: translateY(-3px) scale(1.3);
  }
  & a::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
  }
}
.bigimgcontainer {
  margin-top: 7em;
  display: grid;
  position: relative;
  max-width: 1920px;
  height: 100vh;
  grid-template-columns: auto auto;
  background-color: var(--white);
  gap: 3em;
  justify-items: center;
  & img {
    width: 100%;
    object-fit: cover;
  }
  & a{
    display: grid;
    background-color: var(--white);
    padding: 5px;
    justify-content: center;
  }
}
.stickyfooter{
  width: 100vw;
  background-color: var(--black);
  height: 500px;
  position: sticky;
  color: var(--white);
  list-style: none;
& li {
 display: inline; 
color: var(--white);

}
}
 @media only screen and (max-width: 700px) {
  .cards {
    background-color: hotpink;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 0.1em;
  }
  .bigimgcontainer {
    background-color: hotpink;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1em;
  }
}   