* {font-family: 'Montserrat', sans-serif;}
:root {
  --black: #000;
  --white: #fafafa;
  --blue: #042f38;
  --lightblue: #d7e2eb;
  --grey: #d9d9d9;
  --border: 0,5px solid #000;
}
header {
  width: 100vw;
}
/*turns top marg off and gives sides marg*/
.fa {
  margin: 1em;
}
/* By default hide the navigation menu */
nav.hamburger {
  display: none;
}
input#hamburger-menu {
  display: none; 
}
input#hamburger-menu:checked ~ nav.hamburger {
  display: block;
  background-color: var(--grey);
}
label[for="hamburger-menu"] {
  font-size: 1.5em;
}
label[for="cart"] {
  font-size: 1.5em;
}
#menuicon {
  padding: 0.1em;
}
/* Style the menu itself */
nav.hamburger ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  left: 10px;
  width: 30em;
  height: auto;
  background-color: #fafafa;
  /*border: 1px solid #000;*/
}
nav.hamburger li {
  margin: 2em;
  /*border: 1px solid black;*/
}
/* Style the text in the menu */
nav.hamburger li a {
  text-decoration: none;
  color: #000;
  background: #fafafa;
  padding: 4px 5px;
  font-size: 1.5em;
  font-weight: bold;
}
nav.hamburger li a:hover {
font-weight: bolder;
font-size: 1.75em;
}
